
#calculatorContainer {
  margin: auto;
  height: 400px;
  width: 250px;
  border: 5px solid black;
  border-radius: 25px;
  background-color: black;
  box-shadow: 10px 10px 2px slategrey;
}



.output {
  height: 100px;
  width: 250px;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  border-bottom: 1px solid white;
}

p {
  color: white;
  border-bottom: 1px white solid;
  font-size: large;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;

}

h1 {
  padding: 10% 0;
  color: white;
  font-size: medium;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;

  max-width: 240px;
}


.input {
  height: 300px;
  width: 250px;

}

.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 60px;
}

button {
  cursor: pointer;
  padding: initial;
  font-weight: bold;
  font-size: small;
  text-align: center;
  border-radius: 25px;
  background: white;
}

.input :hover{
}

.operator {
  background: black;
  color: white;
  }

#button-equal {
  background: black;
  color: white;
}

[id^="button-"]:hover {
  background: darkgrey !important;
}

#button-clear {
  width: 200%;
  background: deepskyblue;
}

#button-backspace {
  width: 200%;
  margin: 0 0 0 100%;
  background: orangered;
  font-size: xx-large;
}
